<!DOCTYPE html>
<html lang="de">

<head>
  <title>AJAX mit jQuery und JSON.</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <h1 class="d-flex justify-content-center" id="titel">Stundenplan</h1>
  <br>
  <div class="col-auto">
    <label class="sr-only" for="berufe">Beruf:</label>
    <select name="berufe" id="berufe" class="form-control  mb-2 justify-content-center">
      <option value="empty"> Ihre Auswahl ... </option>
    </select>
  </div>
  <div class="col-auto">
    <label class="sr-only" for="klasse">Klasse:</label>
    <select name="klasse" id="klasse" class="form-control  mb-2">
      <option value="empty"> Ihre Auswahl ... </option>
    </select>
  </div>

  <br>
  <div class="week">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" id="last" href="#">&laquo;</a>
      </li>
      <li class="page-item"><strong id="woche" class="page-link">Woche 1</strong></li>
      <li class="page-item">
        <a class="page-link" id="next" href="#">&raquo;</a>
      </li>
    </ul>
  </div>
  <div>
    <table id="timetable" class="table table-borderless table-responsive w-100 table-fill">
      <tr>
        <th>Datum</th>
        <th>Wochentag</th>
        <th>Start</th>
        <th>Ende</th>
        <th>Lehrperson</th>
        <th>Fach</th>
        <th>Raum</th>
      </tr>
    </table>
  </div>

  <div id="info" class="alert alert-danger text-center fixed-bottom" role="alert">
    <p>Daten wurden verändert</p>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="{{ js_url }}"></script>
</body>

</html>